/*
 * Settings
 */

body {
	transition: 200ms;
	box-shadow: none;
	box-sizing: border-box
}

.form-table td p {
	margin-top: 1rem;
}

.repeater {
	width: 460px;
	max-width: 100%;
	background: white;
	padding: 6px;
	td {
		padding: 6px 4px;
	}
}
